:root {
    --primary-color: rgb(3, 76, 3);
    --secondary-color: #000;
    --accent1-color: rgb(181, 253, 212);
    --accent2-color: rgb(1, 123, 171);
    --subtle-color: #fefdfd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    max-width: 1000px;
    margin: auto;
    line-height: 1.5;
}